/* Header Styles */

.header{
    width: 100%;
    max-width: 960px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
#logo {
    margin: 0 20px;
}
#page-title {
    font-size: 3.4rem;
    color: white;
}
#menu {
    width: 50px;
    margin-left: auto;
    margin-right: 20px;
}