.menuDisplay {
    width: 0;
    overflow: hidden;
    scroll-behavior: none;
}
.menuDisplay.display {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background: midnightblue;
    width: 25%;
    min-width: 200px;
}

.menuDisplay h3 {
    font-size: 2.4rem;
    margin: 30px 20px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-align: left; 
    display: inline-block;
}
.menuDisplay span {
    font-size: 2.4rem;
    color: white;
    font-weight: bold;
    font-family: sans-serif; 
    
}
.menuDisplay.display span {
    position: fixed;
    top: 30px;
    right: 25px;
}
.menuDisplay li {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menuDisplay a {
    font-size: 2rem;
    color: white;
    padding-top: 20px;
    text-decoration: none;
}
.menuDisplay li:hover {
    background-color: #252931;
}